<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Aksa Jeneratör
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-114x114.png")
		link(rel="stylesheet" href="css/style.min.css?rev=@@hash")
		link(rel='stylesheet', href='./../../../node_modules/bootstrap/dist/css/bootstrap.min.cssw', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
	body
		include ../navBar.pug
		sectiom.forProd
			.img
		section.APD12
			div.secContainer
				h3.apd__title APD 12 A
				.seperator
				.product
					h3.product__title ПРОДУКТЫ
					div.product__info
						p.product__paraph 
							| ПРОДУКТЫ : 
							span AKSA
						p.product__paraph 
							| ГЕНЕРАТОР: 
							span AK 109 
						p.product__paraph 
							| МОДЕЛЬ ПОНЕЛИ УПРАВЛЕНИЯ: 
							span DSE 6020
					.accordion
							dl
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion1" aria-expanded="false" aria-controls="accordion1") О продукте
								dd#accordion1.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									p
										|Aksa power generation system, providing optimum performance, and reliability, for stationary standby, prime power, and continuous duty applications. All generator sets are factory build, and production tested.
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion2" aria-expanded="false" aria-controls="accordion2")
										| СЕРТИФИКАТЫ
								dd#accordion2.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									p TS ISO 8528
									p CE
									p SZUTEST
									p 2000/14/EC
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion3" aria-expanded="false" aria-controls="accordion3")
										| Общие Характеристики
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									table#tabloMotorOzellik.table.table-bordered.urunDetayTablo.alignLeft
										tr
											th(colspan="2")
											| Название Модели
											td(colspan="2")
											| APD 12 A
											br
										tr
											th(colspan="2")
											| Частота  (Гц)
											td(colspan="2")
											| 50
											br
										tr
											th(colspan="2")
											| вид используемого топлива
											td(colspan="2")
											| Diesel
											br
										tr
											th(colspan="2")
											| бренд и модель двигателя
											td(colspan="2")
											| AKSA - A3CRX14
											br
										tr
											th(colspan="2")
											| генератор переменного тока марки и модели
											td(colspan="2")
											| Aksa - AK 109 
											br
										tr
											th(colspan="2")
											| Модель панели управления
											td(colspan="2")
											| DSE 6020 
											br
										tr
											th(colspan="2")
											| кожуха
											td(colspan="2")
											| ANS 1
										a.acc-trigger(href="javascript:;") 3 Количество фаз, 50 Hz, PF 0.8
										.acc-content
										.table-responsive
											table.table.table-bordered.urunDetayTablo
											tr
												th(rowspan="2") Напряжение (В)
												th(colspan="2") Мощность Standby
												th(colspan="2") Мощность Prime
												th(rowspan="2") Standby Amper
											tr.subtitle
												th kVA
												th kW
												th kVA
												th kW
											tr
												td 400/231
												td 11.5
												td 9.20
												td 10.6
												td 8.48
												td 16.60

		include ../footer.pug

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="./js/script.js")
	script(src="../js/navBar.js")
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")