<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Aksa Jeneratör
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-114x114.png")
		link(rel="stylesheet" href="css/style.min.css?rev=@@hash")
		link(rel='stylesheet', href='./../../../node_modules/bootstrap/dist/css/bootstrap.min.cssw', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
	body
		include ../navBar.pug
		sectiom.forProd
			.img
		section.APD12
			div.secContainer
				h3.apd__title APD 12 A
				.seperator
				.product
					h3.product__title ПРОДУКТЫ
					div.product__info
						p.product__paraph 
							| ПРОДУКТЫ : 
							span AKSA
						p.product__paraph 
							| ГЕНЕРАТОР: 
							span AK 109 
						p.product__paraph 
							| МОДЕЛЬ ПОНЕЛИ УПРАВЛЕНИЯ: 
							span DSE 6020
					.accordion
							dl
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion1" aria-expanded="false" aria-controls="accordion1") О продукте
								dd#accordion1.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									p
										|Aksa power generation system, providing optimum performance, and reliability, for stationary standby, prime power, and continuous duty applications. All generator sets are factory build, and production tested.
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion2" aria-expanded="false" aria-controls="accordion2")
										| СЕРТИФИКАТЫ
								dd#accordion2.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									p TS ISO 8528
									p CE
									p SZUTEST
									p 2000/14/EC
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion3" aria-expanded="false" aria-controls="accordion3")
										| Общие Характеристики
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
<<<<<<< HEAD
									table#tabloMotorOzellik.table.table-bordered.urunDetayTablo.alignLeft
										tr
											th(colspan="2")
											| Название Модели
											td(colspan="2")
											| APD 12 A
											br
										tr
											th(colspan="2")
											| Частота  (Гц)
											td(colspan="2")
											| 50
											br
										tr
											th(colspan="2")
											| вид используемого топлива
											td(colspan="2")
											| Diesel
											br
										tr
											th(colspan="2")
											| бренд и модель двигателя
											td(colspan="2")
											| AKSA - A3CRX14
											br
										tr
											th(colspan="2")
											| генератор переменного тока марки и модели
											td(colspan="2")
											| Aksa - AK 109 
											br
										tr
											th(colspan="2")
											| Модель панели управления
											td(colspan="2")
											| DSE 6020 
											br
										tr
											th(colspan="2")
											| кожуха
											td(colspan="2")
											| ANS 1
										a.acc-trigger(href="javascript:;") 3 Количество фаз, 50 Hz, PF 0.8
										.acc-content
										.table-responsive
											table.table.table-bordered.urunDetayTablo
											tr
												th(rowspan="2") Напряжение (В)
												th(colspan="2") Мощность Standby
												th(colspan="2") Мощность Prime
												th(rowspan="2") Standby Amper
											tr.subtitle
												th kVA
												th kW
												th kVA
												th kW
											tr
												td 400/231
												td 11.5
												td 9.20
												td 10.6
												td 8.48
												td 16.60
=======
									table.table
										tr.table-column
											td.column-item Название Модели
											td.column-item APD 12 A
										tr.table-column
											td.column-item Частота (Гц)
											td.column-item 50
										tr.table-column
											td.column-item вид используемого топлива
											td.column-item Diesel
										tr.table-column
											td.column-item бренд и модель двигателя
											td.column-item AKSA - A3CRX14
										tr.table-column
											td.column-item генератор переменного тока марки и модели
											td.column-item Aksa - AK 109 
										tr.table-column
											td.column-item Модель панели управления
											td.column-item DSE 6020 
										tr.table-column 
											td.column-item кожуха
											td.column-item ANS 1
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion3" aria-expanded="false" aria-controls="accordion3")
										| 3 Количество фаз, 50 Hz, PF 0.8
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									table.table
										tr.table-column
											td.column-item(rowspan='2') Название Модели
											td.column-item(colspan='2') Мощность Standby
											td.column-item(colspan='2') Мощность Prime
											td.column-item(rowspan='2') Мощность Prime
										tr.table-column
											td.column-item kVA
											td.column-item kW
											td.column-item kVA
											td.column-item kW
										tr.table-column
											td.column-item 400/231
											td.column-item 11.5
											td.column-item 9.20
											td.column-item 10.6
											td.column-item 8.48
											td.column-item 16.60
									p
										span.span-table Мощность Standby : 
										| Используется при подаче электроэнергии переменной электрической нагрузке в случае прерывания надежного источники сети. ESP совместим с ISO8528. Перегрузка не допускается.
									p
										span.span-table Мощность Prime : 
										| Используется для неограниченных рабочих часов ежегодно при подаче электроэнергии переменной электрической нагрузке. PRP совместим с ISO 8528. Согласно ISO3046 в 12-часовой период работы 1 час используется для 10% перегрузки.
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion3" aria-expanded="false" aria-controls="accordion3")
										| двигатель особенность
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									table.table
										tr.table-column
											td.column-item двигатель
											td.column-item AKSA
										tr.table-column
											td.column-item Инженерная модель
											td.column-item A3CRX14
										tr.table-column
											td.column-item Число цилиндров
											td.column-item 3 cylinders - in line
										tr.table-column
											td.column-item(colspan='2') Диаметр поршня x Ход поршня
											td.column-item(axis='mm') mm
											td.column-item(axis='mm') 80 X 90
										tr.table-column
											td.column-item Объем цилиндров
											td.column-item L
											td.column-item 1,36
										tr.table-column
											td.column-item Забор воздуха и охлаждение
											td.column-item 	Naturally Aspirated
										tr.table-column
											td.column-item Степень сжатия
											td.column-item 18:1
										tr.table-column
											td.column-item скорость
											td.column-item d/dk
											td.column-item 1500
										tr.table-column
											td.column-item Объем масла в двигателе (включая фильтр) (L)
											td.column-item L
											td.column-item 4
										tr.table-column
											td.column-item дополнительная мощность
											td.column-item 12.8/17.16
										tr.table-column
											td.column-item Основная мощность
											td.column-item 11.7/15.68
										tr.table-column
											td.column-item Количество подогревателей блока
											td.column-item 	1
										tr.table-column
											td.column-item Мощность подогревателя блока
											td.column-item 500
										tr.table-column
											td.column-item вид используемого топлива
											td.column-item Diesel
										tr.table-column
											td.column-item Топливная система и тип
											td.column-item Direct
										tr.table-column
											td.column-item Тип ТНВД
											td.column-item Direct
										tr.table-column
											td.column-item Регулятор частоты вращения двигателя
											td.column-item Mechanic
										tr.table-column
											td.column-item рабочее напряжение
											td.column-item 12 Vdc
										tr.table-column
											td.column-item емкость аккумулятора (Qty/Ah)
											td.column-item 1x36
										tr.table-column
											td.column-item Способ охдаждения
											td.column-item Water Cooled
										tr.table-column
											td.column-item Воздушный поток вентилятора (м3/мин)
											td.column-item 192
										tr.table-column
											td.column-item Объем Охлаждающей Жидкости(Только с Двигателем/Радиатором)(л)
											td.column-item 18,5
										tr.table-column
											td.column-item воздушный фильтр
											td.column-item Dry Type
										tr.table-column
											td.column-item Расход топлива при 100% нагрузке (л/ч)
											td.column-item 3,4
										tr.table-column
											td.column-item Расход топлива при 75% нагрузке (л/ч)
											td.column-item 2,6
										tr.table-column
											td.column-item Расход топлива при 50% нагрузке (л/ч)
											td.column-item 1,7
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion3" aria-expanded="false" aria-controls="accordion3")
										| ТИП АЛЬТЕРНАТОРА
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									table.table
										tr.table-column
											td.column-item Производитель
											td.column-item AKSA
										tr.table-column
											td.column-item генератор переменного тока марки и модели
											td.column-item AK 109
										tr.table-column
											td.column-item Частота (Гц)
											td.column-item Hz
											td.column-item 50
										tr.table-column
											td.column-item Мощность (кВА)
											td.column-item kVA
											td.column-item 11,3
										tr.table-column
											td.column-item дизайн
											td.column-item Brushless
										tr.table-column
											td.column-item Напряжение (В)
											td.column-item V
											td.column-item 400
										tr.table-column
											td.column-item фаза
											td.column-item 3
										tr.table-column
											td.column-item Регулятор напряжения
											td.column-item SX460
										tr.table-column
											td.column-item Система возбуждения
											td.column-item (+/-)
											td.column-item 1,5%
										tr.table-column
											td.column-item Класс изоляции
											td.column-item H
										tr.table-column
											td.column-item класс защиты
											td.column-item IP22
										tr.table-column
											td.column-item Активная мощность
											td.column-item 0.8
										tr.table-column
											td.column-item охлаждающий воздух
											td.column-item m3
											td.column-item 4,26
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion3" aria-expanded="false" aria-controls="accordion3")
										| Размеры и вес
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									table.table
										tr.table-column
											td.column-item Открытый тип
											td.column-item Вес (Нефть и вода нет) (kg.)
											td.column-item длина (mm) (mm.)
											td.column-item ширина (mm) (mm.)
											td.column-item высота (mm) (mm.)
											td.column-item Емкость топливного бака (L.) (Lt.)
										tr.table-column
											td.column-item 
												img(src='../../img/forProduct/APD 17A-6.jpg').img-table
											td.column-item 350
											td.column-item 1400
											td.column-item 760
											td.column-item 927
											td.column-item 32
										tr.table-column
											td.column-item Rожуха
											td.column-item Вес (Нефть и вода нет) (kg.)
											td.column-item длина (mm) (mm.)
											td.column-item ширина (mm) (mm.)
											td.column-item высота (mm) (mm.)
											td.column-item Емкость топливного бака (L.) (Lt.)
										tr.table-column
											td.column-item 
												img(src='../../img/forProduct/ANS 1-1A.jpg').img-table
											td.column-item 470
											td.column-item 1522
											td.column-item 823
											td.column-item 1127
											td.column-item 32
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion2" aria-expanded="false" aria-controls="accordion2")
										| стандартные функции
								dd#accordion2.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									p
									| Water cooled, Diesel engine 
									br
									| Radiator with mechanical fan 
									br
									| Protective grille for rotating and hot parts
									br
									| Electric starter and charge alternator 
									br
									| Starting battery (with lead acid) including rack and cables 
									br
									| Base frame design incorporates an integral fuel tank and anti-vibration isolators 
									br
									| Flexible fuel connection hoses 
									br
									| Single bearing, class H alternator 
									br
									| Industrial exhaust silencer and steel bellows supplied separately(for open sets) 
									br
									| Static battery charger 
									br
									| Manual for application and installation
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href="#accordion2" aria-expanded="false" aria-controls="accordion2")
										| Оборудование на Заказ
								dd#accordion2.accordion-content.accordionItem.is-collapsed(aria-hidden="true")
									ul.table-list ENGINE
										li.table-item Remote Radiator Cooling
										li.table-item Fuel-Water Seperator Filter
									ul.table-list ALTERNATOR
										li.table-item Anti-Condensation Heater
									ul.table-list CONTROL SYSTEM
										li.table-item Charge Ammeter
									ul.table-list TRANSFER SWITCH
										li.table-item Three Pole Contactor
										li.table-item Four Pole Contactor
										li.table-item Three or four pole motor operated circuit breaker
									ul.table-list OTHER ACCESSORIES
										li.table-item Main Fuel Tank
										li.table-item Automatic or manual fuel filling system
										li.table-item Manual oil drain pump
										li.table-item Residential silencer
										li.table-item Enclosure: weater protective or sound attenuated
										li.table-item Trailer
										li.table-item Tool kit for maintenance

>>>>>>> 26191ad897a1517e1a4ee9a4c45557bd45696937

		include ../footer.pug

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="./js/script.js")
	script(src="../js/navBar.js")
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")