.navBar
	.navBarWrap
		.navBarLogo
			a.navBarLogo_link(href="index.html")
				img.logogImg(src="../img/logo.png", alt="logo")
		.navBarList
			ul.navList.navList__responsive
				li.navItem
					a.navItem_link(href="#") О Компании
				li.navItem ПРОДУКТЫ
					span.fas.fa-sort-down
					div.linkWrap6
						p.link
							a(href="genProduct.html") ДИЗЕЛЬНЫЕ ГЕНЕРАТОРНЫЕ УСТОНОВКИ
				li.navItem УСЛУГИ
					span.fas.fa-sort-down
					div.linkWrap4
							p.link
								a(href="#") ПРОДАЖИ И ЗАКУПКИ
							p.link
								a(href="#") AGRP
							p.link
								a(href='#') ПОСЛЕПРОДАЖНОЕ ОБСЛУЖИВАНИЕ
				li.navItem СВЯЗАТЬСЯ С НАМИ

.navBar__mobile
	.navBarWrap
		.navBarLogo
			a.logo__link(href="index.html")
				img.logogImg(src="../img/logo.png", alt="logo")
	nav.navbar.navbar-expand-lg.navbar-dark.bg-more-dark
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		#navbarNavDropdown.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item.dropdown.bg-more-dark
					a#navbarDropdownMenuLink.nav-link(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
						a.navItem_link(href="#") О Компанииы
					
				li.nav-item.dropdown.bg-more-dark
					a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") ПРОДУКТЫ
					.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
						a.dropdown-item(href="genProduct.html") ДИЗЕЛЬНЫЕ ГЕНЕРАТОРНЫЕ УСТОНОВКИ
				li.nav-item.dropdown.bg-more-dark
					a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") УСЛУГИ
					.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
						a.dropdown-item(href="#") Обслуживание
						a.dropdown-item(href="#") Периодическое обслуживание
						a.dropdown-item(href="#") Запчасти
						a.dropdown-item(href="#") Мощность и размещение на поверхности
				li.nav-item.bg-more-dark
					a.nav-link(href='#') КОНТАКТЫ