.container
	max-width: 1920px
	margin: 0 auto
	+media(tablet)
		max-width: 768px
	+media(phone)
		max-width: 360px
.secondPage__img
	+media(tablet)
		overflow: hidden
		margin-top: rem(5px)

.secondPage__img img
	+media(tablet)
		width: 100%
		height: 35vh

.generator
	+media(tablet)
		border-top: rem(6px) #0067b2 solid
		border-bottom: rem(6px) #0067b2 solid

.page__navigation
	+media(tablet)
		margin-top: rem(10px)
		text-transform: uppercase
		display: flex
		justify-content: center
		flex-wrap: wrap

.page__navigation_item
	+media(tablet)
		font-size: rem(14px)
		display: inline
	+media(phone)
		font-size: rem(12px)

.page__navigation_link
	+media(tablet)
		color: #000
		cursor: pointer
		font-weight: bold

.generator__title
	+media(tablet)
		text-align: center

.generator__navigation
	+media(tablet)
		margin-bottom: rem(10px)
		display: flex
		justify-content: center
		font-size: rem(13px)

.generator__navigation_item--active
	+media(tablet)
		color: #16a085
		text-decoration: underline

.generator__navigation_item
	+media(tablet)
		color: #474747
		margin-left: rem(7px)

.generator__info
	+media(tablet)
		border: 1px #0066b1 solid
		padding: rem(15px)

.generator__item
	+media(tablet)
		border: 1px #0066b1 solid
		display: flex
		flex-flow: column
		justify-content: center
		text-transform: uppercase
		margin-bottom: 15px


.generator__img img
	+media(tablet)
		display: block
		margin: 0 auto
		width: 35%

.custom-checkbox-a
	+media(tablet)
		display: flex
		justify-content: center

.generator__model
	+media(tablet)
		text-align: center

.generator__model_text
	+media(tablet)
		text-transform: uppercase
		color: #6D6E7A

.generator__item_title
	+media(tablet)
		text-align: center
		color: #0066b1
		font-size: rem(13px)

.extra__power
	+media(tablet)
		color: #6D6E7A
		display: flex
		justify-content: center

.extra__power_kva
	+media(tablet)
		border-right: 1px #0066b1 solid

.extra__power span
	+media(tablet)
		padding: 0 rem(13px)

.generator__item_hz
	+media(tablet)
		text-align: center
		font-size: rem(15px)
		color: #6D6E7A
		font-weight: normal

.generator__buttons
	+media(tablet)
		display: flex
		flex-wrap: wrap
		justify-content: center
		text-align: center
		margin: 20px 0

.generator__buttons a
	+media(tablet)
		margin: 0 5px
		color: #ffffff
		padding: 10px

.btn__icons
	+media(tablet)
		font-size: 20px
		background: #0066b1
		border-radius: 50%

.btn__get
	+media(tablet)
		border-radius: 4px
		background: #A5C958

.page__switching
	+media(tablet)
	margin: 20px 0

.switching__list
	color: #0066B1
	+media(tablet)
		display: flex
		justify-content: center

.switching__item_active
	font-weight: bold

.switching__item
	+media(tablet)
		margin: 0 10px